@using BaseFramework.Web;
@{
    ViewData["Title"] = "Session";
}

<h1>@SessionHelper.Get("test")</h1>

<h1>@SessionHelper.Get("test1")</h1>

<h1>@SessionHelper.Get("test2")</h1>

<h1>@SessionHelper.Get("test3")</h1>

<h1>@SessionHelper.Get("test4")</h1>

